---
name: Updatecli

on:
  # Trigger Updatecli if a new commit land on the main branch
  push:
    branches: [ main ]
  # Manually trigger Updatecli via GitHub UI
  workflow_dispatch:
  # Trigger Updatecli once day by a cronjob
  schedule:
  # * is a special character in YAML, so you have to quote this string
  # Run once a day
  - cron: '0 0 * * *'

permissions:
  contents: "write"
  pull-requests: "write"

jobs:
  updatecli:
    runs-on: "ubuntu-latest"
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Install Updatecli in the runner
      uses: updatecli/updatecli-action@v2

    - uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede # v4
      id: kubectl

    - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      id: helm

    - name: Get token
      id: get_token
      uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
      with:
        app-id: ${{ secrets.UPDATECLI_APP_ID }}
        private-key: ${{ secrets.UPDATECLI_PRIVATE_KEY }}
        owner: ${{ github.repository_owner }}

    - name: Run Updatecli in apply mode
      run: "updatecli --experimental apply --config ./updatecli/updatecli.d --values updatecli/values.yaml --clean=true"
      env:
        UPDATECLI_GITHUB_TOKEN: '${{ steps.get_token.outputs.token }}'
